<h1>
  Bienvenidos al coderchat
</h1>
<div>
  <p id="messageLogs"></p>
</div>
<div>
  <input type="text" name="" id="chatBox">
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>